<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>관리자 페이지</title>
  <style>
    tbody {
      text-align: center;
    }
  </style>
</head>
<body>
<div>
  <table>
    <thead>
    <tr>
      <th>이메일</th>
      <th>이름</th>
      <th>생년월일</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td th:text="${user.getEmail()}"></td>
      <td th:text="${user.getName()}"></td>
      <td th:text="${user.getBirth()}"></td>
    </tr>
    </tbody>
    <thead>
    <tr>
      <th colspan="3">주소</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td colspan="3" th:text="${user.getAddress()} + ' ' + ${user.getDetailAddress()}"></td>
    </tr>
    </tbody>
    <thead>
    <tr>
      <th>가입일</th>
      <th>인증일</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td th:text="${user.getRegDt()}"></td>
      <td th:text="${user.getAuthDt()}"></td>
    </tr>
    </tbody>
    <thead>
    <tr>
      <th>권한</th>
      <th>로그인 타입</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td th:text="${user.getRole().name()}"></td>
      <td th:text="${user.getLoginType().name()}"></td>
    </tr>
    </tbody>
    <thead>
    <tr>
      <th>회원 상태</th>
      <th>비고</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td th:text="${user.isStatus()}"></td>
      <td th:if="${user.isStatus()} == true">
        <button type="button" th:value="${user.getEmail()}" id="btn-ban" name="ban">정지</button>
      </td>
      <td th:unless="${user.isStatus()} == true">
        <button type="button" th:value="${user.getEmail()}" id="btn-stop-ban" name="stop-ban">정지
          해제
        </button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
  var main = {
    init: function () {
      var _this = this;

      $('#btn-ban').on('click', function () {
        _this.ban();
      });

      $('#btn-stop-ban').on('click', function () {
        _this.stopBan();
      })
    },

    ban: function () {
      var email = $('#btn-ban').val();

      $.ajax({
        type: 'PUT',
        url: '/admin/users/status/' + email
      }).done(function (res) {

        if (res.status) {
          alert(res.message);
          location.reload();
        }
      })
    },

    stopBan: function () {
      var email = $('#btn-stop-ban').val();

      $.ajax({
        type: 'PUT',
        url: '/admin/users/status/' + email
      }).done(function (res) {
        if (res.status) {
          alert(res.message);
          location.reload();
        }
      })
    }
  }

  main.init();
</script>
</body>
</html>