<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>EyeTea Board</title>
</head>
<body>
<h1>상세 게시판 페이지</h1>
<div>
  <a href="/post/list">목록으로 돌아가기</a>
</div>
<div>
  제목 : <span th:text="${post.getTitle()}"></span>
</div>
<div>
  <span th:text="${post.getContent()}"></span>
</div>
<div>
  카테고리 : <span th:text="${post.getCategory().getValue()}"></span>
</div>
<div>
  좋아요 : <span id="likeNum" th:text="${post.getLikeNum()}"></span>
</div>
<div>
  <a th:href="@{/post/update/{id}(id=${post.getId()})}">수정</a>
</div>
<div>
  <form>
    <button type="button" id="btn-like" th:value="${post.getId()}">좋아요</button>
  </form>
</div>
<div>
  댓글
  <table>
    <tbody>
    <tr th:each="comment : ${comments}">
      <td th:text="${comment.getComment()}"></td>
      <td th:text="${comment.getWriter()}"></td>
      <td id="comment-like" th:text="${comment.getLikeNum()}"></td>
      <td th:text="${comment.getRegDt()}"></td>
      <td>
        <button type="button" id="btn-comment-like" th:value="${comment.getCommentId()}">
          <img src="/img/commnet-like.png" width="12" height="12">
        </button>
      </td>
      <td>
        <button type="button" id="btn-comment-del" th:value="${comment.getCommentId()}">삭제</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
<div>
  댓글 작성
  <form>
    <input type="text" id="comment" name="comment">
    <input type="hidden" id="post-id" name="post-id" th:value="${post.getId()}">
    <button type="button" id="btn-comment">등록</button>
  </form>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
  var main = {
    init: function () {
      var _this = this;
      $('#btn-like').on('click', function () {
        _this.postLike();
      });

      $('#btn-comment').on('click', function () {
        _this.comment();
      });

      $('#btn-comment-del').on('click', function () {
        _this.commentDel();
      });

      $('#btn-comment-like').on('click', function () {
        _this.commentLike();
      })
    },

    postLike: function () {

      var postId = $('#btn-like').val();

      $.ajax({
        type: 'POST',
        url: '/post/like/' + postId,
        dataType: 'json',
        contentType: 'application/json; charset=utf-8',
      }).done(function (res) {
        if (res.status) {
          alert(res.message);
          $('#likeNum').text(res.likeNum);
        } else {
          alert(res.message);
        }
      })
    },

    comment: function () {
      var data = {
        postId: $('#post-id').val(),
        comment: $('#comment').val()
      };

      $.ajax({
        type: 'POST',
        url: '/comment/save',
        dataType: 'json',
        contentType: 'application/json; charset=utf-8',
        data: JSON.stringify(data)
      }).done(function (res) {
        if (res.status) {
          alert(res.message);
          location.reload();
        }
      })
    },

    commentDel: function () {
      var commentId = $('#btn-comment-del').val();

      $.ajax({
        type: 'DELETE',
        url: '/comment/delete/' + commentId,
        dataType: 'json',
        contentType: 'application/json; charset=utf-8'
      }).done(function (res) {

        if (res.status) {
          alert(res.message);
          location.reload();
        }
      })
    },

    commentLike: function () {
      var commentId = $('#btn-comment-like').val();

      $.ajax({
        type: 'POST',
        url: '/comment/like/' + commentId,
        dataType: 'json',
        contentType: 'application/json; charset=utf-8'
      }).done(function (res) {
        if(res.status){
          alert(res.message);
          $('#comment-like').text(res.likeNum);
        }
      })
    }
  };

  main.init();
</script>
</body>
</html>