<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>EyeTea Board</title>
</head>
<body>
<h1>게시글 리스트 페이지</h1>
<div>
  카테고리 :
  <a href="/post/list">전체</a> |
  <a href="/post/list/KNOWLEDGE">지식</a> |
  <a href="/post/list/DAILY_LIFE">사는 이야기</a> |
  <a href="/post/list/STUDY">스터디</a> |
</div>
<div>
  <a href="/post/save">글쓰기</a>
</div>
<div>
  <select onchange="if(this.value) location.href=(window.location.pathname+'?sort='+this.value);">
    <option value="">정렬순</option>
    <option value="likeNum">좋아요순</option>
  </select>
</div>
<div>
  <a href="/">메인</a>
</div>
<div>
  <table>
    <thead>
    <tr>
      <th>번호</th>
      <th>제목</th>
      <th>작성자</th>
      <th>종아요 수</th>
      <th>카테고리</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="postDto : ${list}">
      <td th:text="${postDto.getId()}"></td>
      <td>
        <a th:href="@{/post/{id}(id=${postDto.getId()})}">
          <span th:text="${postDto.getTitle()}"></span>
        </a>
      </td>
      <td th:text="${postDto.getEmail()}"></td>
      <td th:text="${postDto.getLikeNum()}"></td>
      <td th:text="${postDto.getCategory().getValue()}"></td>
    </tr>
    </tbody>
  </table>
</div>
</body>
</html>