<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>EyeTea Board</title>
</head>
<body>
<h1>로그인 페이지</h1>
<form method="post" action="/loginProcess">
  <label for="email">
    이메일 <input type="text" id="email" name="email">
  </label>
  <label for="password">
    비밀번호 <input type="password" id="password" name="password">
  </label>
  <button type="submit">로그인</button>
</form>
<div th:if="${error} == true">
  <span th:text="${exception}"></span>
</div>
<div th:unless="${error} == true">

</div>
</body>
</html>